* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    width: 100%;
    height: 100vh;
    background: url('./images/Background.png') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    font-size: 60px;
    letter-spacing: 10px;
}

.play-icon {
    font-size: 50px;
    color: gray;
    opacity: 0.5;
}

.play-icon a {
    transition-duration: .5s;
}

.play-icon a:hover {
    color: rgb(70, 69, 69);
}

.try-btn {
    width: 170px;
    height: 50px;
    background-color: #ff6d6d;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: .5s;
}

.try-btn:hover {
    background-color: #f45151;
}

.try-btn a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.header-container {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vw;
}

.platforms {

    width: 100%;
    height: 80vh;
    /* background: url('./images/Rectangle\ 21\ copy.png') no-repeat; */
    background-position: right;
}

.triangle {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.triangle-bottomright {
	width: 0;
	height: 0;
	border-bottom: 400px solid #ff6d6d; 
	border-left: 300px solid transparent;
}

.platforms-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    
}

.platforms-container {
    padding-left: 70px;
    padding-top: 120px;
    width: 40vw;

    gap: 30px;
}

.active {
    font-size: 20px;
    color:#ff6d6d;
    letter-spacing: 3px;
}

.mini-title {
    font-size: 40px;
    /* line-height: 5px; */
}

.gray {
    font-size: 18px;
    color: gray;
}

.features {
    background-color: #ededed;
    width: 100%;
    height: 89vh;
    background: url('./images/Pen\ holder.png');
}

.earphones-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

.features-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.features-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.features-item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 30vw;
    height: 35vh;
}

.micro-title {
    font-size: 20px;
    font-weight: bold;
}

.card-text {
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.triangle-left {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 400px 0 0 300px;
    border-color: transparent transparent transparent #ff6d6d;
}

.new-design {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.design-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50vw;
    padding: 50px;
}